# Network reliability settings for CI/CD builds
registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
prefer-offline=true
audit=true
fund=false
loglevel=warn